@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .debug {
    @apply outline outline-red-500;
  }

  .dead-center {
    @apply flex items-center justify-center;
  }

  .fullscreen {
    @apply w-screen h-screen;
  }
}

pre > code,
pre > code > span {
  font-family: "Roboto Mono", "Sans Mono", "Consolas", "Courier", monospace;
}
pre::selection,
pre > code::selection,
pre > code > span::selection {
  background-color: black;
}
