/*$ TAILWIND STUFF */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*$ USUSAL STUFF */
*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
}

/*$ SCROLLBAR STUFF */
body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  display: none !important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100, 100, 100);
}

/*$ COMPONENTS STUFF */
@layer components {
  .debug {
    @apply outline outline-red-500;
  }

  .dead-center {
    @apply flex items-center justify-center;
  }

  .fullscreen {
    @apply w-screen h-screen;
  }

  .dot-dot-dot {
    @apply text-ellipsis overflow-hidden whitespace-nowrap;
  }
}

/* $ CODE STUFF */
pre * {
  font-family: "Roboto Mono", "Sans Mono", "Consolas", "Courier", monospace;
}
pre::selection,
pre *::selection {
  background-color: black;
}

#terminal * {
  font-family: "Roboto Mono", "Sans Mono", "Consolas", "Courier", monospace;
  font-weight: bold;
}
